<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="logFile" value="E:\"/> 
    <add key="dotSound" value="C:\Users\Feuse135\source\repos\MorseCodeServer\dot.mp3"/>
    <add key="dashSound" value="C:\Users\Feuse135\source\repos\MorseCodeServer\dash.mp3"/>
  </appSettings>
</configuration>