@{
    ViewData["Title"] = "Home Page";
}
@model UserInputModeldyn

<div class="text-center">

    @if (Model != null && !String.IsNullOrEmpty(Model.morse))
    {
        <audio onended="ended" controls="controls" id="audio">
            Your browser does not support the &lt;audio&gt; tag.
            <source id="source" src="" type="audio/wav" />
        </audio>

        <i hidden id="morse">@Model.morse</i>
        <i hidden id="textualMorse">@Model.message</i>

        <div id="error"></div>
    }


</div>
