@{
    ViewData["Title"] = "Home Page";
}
@model UserInputModel 

<div class="text-center">


    <i id="input2">@ViewBag.Input</i>
    <i id="freq">@ViewBag.Frequency</i>

    <input id="input" type="button" value="play" />


</div>
